/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  width: 100%;
  background-color: grey;
}

/* per togliere i pallini da tutte le liste */
ul {
  list-style: none;
}

/* MAIN */

main {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}

/* clearfix main */
main::after {
  content: '';
  display: table;
  clear: both;
}

/* NAV colonna sinistra della pagina */
nav#main_nav {
  width: 250px;
  height: calc(100% - 100px);
  min-height: 450px;
  background-color: red;
  position: fixed;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  nav#main_nav {
    width: 50px;
  }
}

.top_nav {
  height: 80%;
  width: calc(100% - 20px);
  margin: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}



#main_nav .top_nav .logo_nav {
  width: 100%;
  height: 80px;
  /* background-color: yellow; */
}

/* per nascondere il logo grande quando la nav-main si rimpicciolisce */
@media screen and (max-width: 600px) {
  #main_nav .top_nav .logo_nav {
    display: none;
  }
}

#main_nav .top_nav .logo_small {
  display: none;
}

/* per far comparire il logo piccolo quando la nav-main si rumbicciolisce */
@media screen and (max-width: 600px) {
  #main_nav .top_nav .logo_small {
    display: block;
  }
}

#main_nav .top_nav .menu_nav {
  width: 100%;
  /* background-color: yellow; */
}

/* per dividere di qualche pixel gli elementi della nav-menu */
#main_nav .top_nav .menu_nav ul li {
  padding: 5px 0;
}

/* per dare una grandezza alle immagini della nav-menu */
#main_nav .top_nav .menu_nav img {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

#main_nav .top_nav .playlist_nav {
  width: 100%;
  background-color: yellow;
}


/* per far scomparire la playlist quando la nav-main si rimpicciolisce */
@media screen and (max-width: 600px) {
  #main_nav .top_nav .playlist_nav {
    display: none;
  }
}

/* per creare la barra di scorrimento a fianco alla playlist quando rimpiccioliamo in altezza la pagina */
#main_nav .top_nav .playlist_nav .list {
  overflow: scroll;
  height: 80%;
}

.bottom_nav {
  height: 20%;
  width: calc(100% - 20px);
  margin: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

#main_nav .bottom_nav .install_nav {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid white;
}



/* / NAV colonna sinistra della pagina */

/* MAIN SECTION */
#main_section {
  width: calc(100% - 250px);
  margin-left: 250px;
  float: left;
  background-color: blue;
  overflow-y: auto;
}


/* per mantenere le stesse proporzioni quando la nav-main si rimpicciolisce */
@media screen and (max-width: 600px) {
  #main_section {
    width: calc(100% - 50px);
    margin-left: 50px;
    /* float: left;
    background-color: blue;
    overflow-y: auto; */
  }
}

/* / NAV colonna sinistra della pagina */

#main_section .call_to_action {
  height: 100px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.68);
  text-align: right;
  line-height: 100px;
  position: fixed;
  /* top: 0; */
  color: white;
  z-index: 1;
}


/* per mantenere le proporzioni della call-to-action quando la nav-main si rimpicciolisce */
@media screen and (max-width: 600px) {
  #main_section .call_to_action {
    height: 100px;
    width: calc(100% - 50px);

  }
}

.call_to_action a {
  color: white;
}

#main_section .menu_main {
  text-align: center;
  margin-top: 100px;
}
#main_section .menu_main ul li {
  display: inline-block;
  padding: 10px;
}


/* MAIN CONTENT contenitore dei contenuti  */

.main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: coral;
}

.main_content > section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title_section {
  width: 100%;
}

.played_box {
  height: 100px;
  background-color: red;
}
/* / MAIN CONTENT sezione dei contenuti */
/* / MAIN SECTION */
/* / MAIN */

/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: green;
  position: fixed;
  bottom: 0;

}


/* / FOOTER */
